body {
  @media (min-width: 800px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto minmax(200px, 1fr);
    grid-template-areas:
      "header header header"
      "post post slider"
      "footer footer footer";
  }

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr 1fr;
  grid-template-areas:
    "header"
    "post"
    "slider"
    "footer";
  margin: 0;
}
