.label_post {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: white;
  box-shadow: -1px 9px 25px -5px rgba(0, 0, 0, 0.19);
  height: auto;
  margin: auto;
  padding: 15px;
  border: solid 1px white;
  border-radius: 10px;
  //display: block;
  width: 90%;
}

.label_post img {
  grid-column: 3/4;
  grid-row: 1/5;
}

input {
  -webkit-appearance: none;
}

input:checked + .post {
  height: auto;
}

.post {
  transition: 0.5s;
  height: 0px;
  overflow: hidden;
}

.time {
  grid-row: 2;
  grid-column: 1/2;
}

.title_close {
  grid-row: 3;
  grid-column: 1/3;
}
