@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  margin: 0; }

body {
  font-family: 'Roboto'; }

ul {
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  font-family: 'Roboto' 'Sans Serif'; }

.container {
  margin: 15px; }

.fa-bars {
  color: white; }

#banner1 {
  grid-row: 2;
  grid-column: 1/4; }

.img-anuncio1 {
  overflow: hidden;
  width: 100%; }

/*
Estilos de todos los post
*/
.label_post {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: white;
  box-shadow: -1px 9px 25px -5px rgba(0, 0, 0, 0.19);
  height: auto;
  margin: auto;
  padding: 15px;
  border: solid 1px white;
  border-radius: 10px;
  width: 90%; }

.label_post img {
  grid-column: 3/4;
  grid-row: 1/5; }

input {
  -webkit-appearance: none; }

input:checked + .post {
  height: auto; }

.post {
  transition: 0.5s;
  height: 0px;
  overflow: hidden; }

.time {
  grid-row: 2;
  grid-column: 1/2; }

.title_close {
  grid-row: 3;
  grid-column: 1/3; }

#navegacion_principal {
  background-color: white;
  box-shadow: -1px 9px 25px -5px rgba(0, 0, 0, 0.19);
  grid-row: 3;
  grid-column: 1/4; }

#navegacion_principal ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.navegation_option {
  display: inline;
  padding: 20px;
  margin: auto; }

.navegation_option a {
  font-weight: 500;
  color: #a5a7a5; }

.navegation_option a:hover {
  cursor: pointer;
  color: #64b6ac; }

header {
  width: 100%;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(1fr 3);
  background-color: #64b6ac; }

#logo_header {
  grid-row: 1;
  grid-column: 2/3;
  padding-bottom: 10px; }

.btn_menu {
  font-family: "Font Awesome 5 Free";
  color: #a5a7a5;
  padding-bottom: 20px; }

.menu {
  padding-left: 10px;
  padding-bottom: 10px;
  display: block;
  grid-row: 1; }

#menu-wrap {
  padding: 25px;
  padding-top: 40px;
  box-shadow: 100px 0px 0px -5px rgba(100, 182, 172, 0.5);
  position: fixed;
  width: 60%;
  left: -110%;
  top: 0;
  bottom: 0;
  display: block;
  transition: 0.5s;
  background: #f9f9f9; }

.menu a {
  color: #a5a7a5;
  font-family: 'Roboto', 'Sans serif'; }

.menu::before {
  font-family: "Font Awesome 5 Free";
  cursor: pointer;
  font-size: 35px;
  position: fixed;
  z-index: 1;
  content: "\f0c9";
  color: white;
  transform: scale(0.7); }

#menu_open {
  display: none; }

#menu_open:checked {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0; }

#menu_open:checked + .menu::before {
  content: "\f00d";
  color: #64b6ac; }

#menu_open:checked + .menu #menu-wrap {
  left: 0; }

#btn_home::before {
  content: "\f015"; }

#btn_new_post::before {
  content: "\f044"; }

#btn_favorite::before {
  content: "\f005"; }

#btn_profile::before {
  content: "\f007"; }

#btn_settings::before {
  content: "\f013"; }

#btn_log_out::before {
  content: "\f2f5"; }

/*# sourceMappingURL=style.css.map */
