//Colors
$primary_color: #64b6ac;
$secondary_color: #4a4a4a;
$normal_color: #a5a7a5;
$neutral_color: #c4c5c4;

//Font-Size
$titles_size: 18px;
$button_size: 14px;
$menu_button_size: 12px;
$text_article_size: 14px;
$text_info_size: 12px;
