.container {
	//Tablet
	@media (min-width: 321px){
		grid-template-rows: 20% 1fr 35%;
	}

	//Desktop
	@media (min-width: 800px){

	}

	//Desktop HD
  @media (min-width: 1024px) {

	}

	//Mobile
	display: grid;
	grid-template-columns: 1fr 40%;
	grid-template-rows: 1fr 1fr 25%;
	grid-row-gap: 10px;
	margin: 0 auto;
	width: 80%;
}
