// Menu styles

.menu {
  padding-left: 10px;
  padding-bottom: 10px;
  display: block;
  grid-row: 1;
}
#menu-wrap {
  position: fixed;
  width: 50%;
  left: -50%;
  top: 0;
  bottom: 0;
  display: block;
  transition: 0.5s;
  background: #f9f9f9;
}
.menu::before {
  @include fontAwesome;
  cursor: pointer;
  font-size: 35px;
  position: fixed;
  z-index: 1;
  content: "\f0c9";
  color: white;
  transform: scale(0.7);
}

#menu_open {
  display: none;
}
#menu_open:checked {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
}

#menu_open:checked + .menu::before {
  @include fontAwesome;
  content: "\f00d";
  color: $primary_color;
}
#menu_open:checked + .menu #menu-wrap {
  left: 0;
}
