// Navegation Styles

#navegacion_principal {
	background-color: white;
	box-shadow: -1px 9px 25px -5px rgba(0,0,0,0.19);
  grid-row: 3;
	grid-column: 1/4;
}

#navegacion_principal ul{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.navegation_option {
	display: inline;
	padding: 20px;
	margin: auto;
} 

.navegation_option a{
	font-weight: 500;
	color: $normal_color;
}

.navegation_option a:hover{
	cursor: pointer;
	color: $primary_color;
}
